<head>
    <title>Julien Jounieau | Freelance Front-end Developer</title>
    <meta name="description" content="Freelance front-end developer in Sydney. Expert in Meteor, Node.js, CSS animations and performances"/>

    <!-- SEO optimisation -->
    <meta name="fragment" content="!">

    <link rel="shortcut icon" href="/favicon.ico?v=1.1" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook metas -->
    <meta property="og:title" content="Julien Jounieau | Freelance Front-end Developer"/>
    <meta property="og:description" content="Freelance front-end developer in Sydney. Expert in Meteor, Node.js, CSS animations and performances"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://julienjounieau.me/fb_share.jpg"/>
    <meta property="og:url" content="http://julienjounieau.me"/>

    <!-- Twitter metas -->
    <meta name="twitter:title" content="Julien Jounieau | Freelance Front-end Developer"/>
    <meta name="twitter:description" content="Freelance front-end developer in Sydney. Expert in Meteor, Node.js, CSS animations and performances"/>
    <meta name="twitter:image" content="http://julienjounieau.me/fb_share.jpg"/>
    <meta name="twitter:url" content="http://julienjounieau.me"/>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61139529-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="et-wrapper">
        <!--main content-->
        <div class="et-page flex_centered wrapper_page" id="homepage" data-numberpage="0">
            {{> homepage_template}}
        </div>
        <div class="et-page" id="projects" data-numberpage="1">
            {{> projects_template}}
        </div>
        <div class="et-page" data-numberpage="2">
           <!-- nothing here! -->
        </div>
        <div class="et-page" id="about" data-numberpage="3">
           {{> about_template}}
        </div>
        <div class="et-page" id="singleproject" data-numberpage="4">
            {{> project_single}}
        </div>
        <!--/Main content-->

        <!--menu-->
        <div id="button_menu">
            <a class="et-rotate button_draft" href="/" data-url="home" data-goto="0">0</a>
            <a class="et-rotate button_draft" href="/projects/" data-url="projects" data-goto="1">1</a>
            <a class="et-rotate button_draft" href="/about/" data-url="about" data-goto="3" >3</a>
            <a class="et-rotate button_draft" data-goto="2">2</a>
            <a class="et-rotate button_draft" data-goto="4" data-url="project">4</a>
            <a class="et-rotate button_draft" data-goto="5">5</a>
        </div>
        <!--/menu-->
    </div>
</body>
