<template name="singleproject">
  {{ title }}
  {{ name }}
  <img src="{{ img }}" alt="">
  retour liste projet <a href="/test/">retour</a>
</template>

<template name="test">
	<a href="/">retour home</a>
</template>

<template name="notFound">
  coucou <a href="/">404</a>
</template>

<template name="loading">
    <div class="loading_wrapper">
        <h1>Test</h1>
    </div>
</template>

<template name="DefaultTemplate">
  Default template
</template>

