//
// Julien Jounieau's Folio

//import foundation style
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

// Variables
$main_blue : #021e2f;
$main_orange: #fe9263;
$tablet-landscape: "#{$screen} and (min-width:768px) and (max-width:1080px)" !default;
$large-plus: "#{$screen} and (min-width:1080px)" !default;

//import animations
@import "animations/_animations.scss";

/*Font face*/
@font-face {
  font-family: 'futuracondensed_medium';
  src: url('/fonts/futuracondensedmedium/ufonts.com_futura_condensed_medium-webfont.eot');
  src: url('/fonts/futuracondensedmedium/ufonts.com_futura_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futuracondensedmedium/ufonts.com_futura_condensed_medium-webfont.woff') format('woff'),
       url('/fonts/futuracondensedmedium/ufonts.com_futura_condensed_medium-webfont.ttf') format('truetype'),
       url('/fonts/futuracondensedmedium/ufonts.com_futura_condensed_medium-webfont.svg#futuracondensed_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuracondensed_extrabold';
  src: url('./fonts/futuracondensedextrabold/ufonts.com_futura_condensed_extrabold-webfont.eot');
  src: url('./fonts/futuracondensedextrabold/ufonts.com_futura_condensed_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/futuracondensedextrabold/ufonts.com_futura_condensed_extrabold-webfont.woff') format('woff'),
       url('./fonts/futuracondensedextrabold/ufonts.com_futura_condensed_extrabold-webfont.ttf') format('truetype'),
       url('./fonts/futuracondensedextrabold/ufonts.com_futura_condensed_extrabold-webfont.svg#futuracondensed_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*global UI*/
* {
  outline-color: transparent;
}

html{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1{
  font-size: 3rem;
  color: #fff;
  font-family: futuracondensed_medium;
  text-transform: uppercase;
  line-height: 90px;
  margin-bottom: 0px;
  span{
    font-family: futuracondensed_extrabold;
    font-size: 10.8rem;
    color: #fe9263;
    display: block;
  }
}

ul {
  margin: 0;
}

h2{
  text-align: center;
  font-family: futuracondensed_medium;
}

.row {
  max-width: none;
  .columns.nopadding {
    padding: 0px;
  }
}

// layouts
.et-wrapper {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
  @media #{$large-plus} {
    .et-page {
      background-color: #fff;
      transition: background 500ms linear;
      &#homepage #homepage_wrapper {
        #info_wrapper {
          #logo {
            // transform: translateX(432px) translateZ(0);
            path {
              opacity: 0;
            }
            path:nth-child(1) {
              transition: opacity 200ms ease-in-out 1000ms;
            }
            path:nth-child(2) {
              transition: opacity 200ms ease-in-out 1200ms;
            }
            path:nth-child(3) {
              transition: opacity 200ms ease-in-out 1400ms;
            }
            path:nth-child(4) {
              transition: opacity 200ms ease-in-out 1600ms;
            }
          }
          h1 {
            position: relative;
            overflow: hidden;
            color: $main_orange;
            opacity: 0;
            transition: opacity 0ms linear 1000ms;
            &:before {
              content: "";
              height: 100%;
              width: 100%;
              background: $main_blue;
              position: absolute;
              left: 0%;
              bottom: 0;
              transform: translateZ(0);
              transition: left 800ms ease-in-out 1800ms;
            }
          }
          p {
            opacity: 0;
            transform: translateY(-10px);
            transition: all 500ms ease-in-out 2600ms;
          }
          h2 {
            opacity: 0;
            transform: translateY(10px);
            transition: all 500ms ease-in-out 2600ms;
          }
        }
        #trip_tick_wrapper {
          .box {
            transform: rotateY(90deg);
            transform-origin: 0% 0%;
            opacity: 0;
            &:nth-child(1) {
              transition:background 500ms ease-in-out, transform 400ms linear 3000ms, opacity 400ms linear 3000ms;
            }
            &:nth-child(2) {
              transition:background 500ms ease-in-out, transform 400ms linear 3200ms, opacity 400ms linear 3200ms;
            }
            &:nth-child(3) {
              transition:background 500ms ease-in-out, transform 400ms linear 3400ms, opacity 400ms linear 3400ms;
            }
          }
        }
      }
    }
    &.loaded {
      .et-page {
        background-color: $main_blue;
        &#homepage #homepage_wrapper {
          #info_wrapper {
            #logo {
              // @include animation('4000ms ease-in-out 1500ms normal forwards 1 anim_logo_intro_large_plus');
              path {
                opacity: 1;
              }
            }
            h1 {
              opacity: 1;
              // @include animation('4000ms ease-in-out 1500ms normal forwards 1 anim_title_intro_large_plus');
              &:before {
                left: 100%;
              }
            }
            p,
            h2 {
              opacity: 1;
              transform: translateY(0px);
            }
          }
          #trip_tick_wrapper {
            .box {
              transform: rotateY(0deg);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .et-page{
    width: 100%;
    height: 100%;
    border: 10px solid #fff;

    // &:nth-child(3) {
    //   background: purple;
    // }
    // &:nth-child(9) {
    //   background: brown;
    // }
    // &:nth-child(4) {
    // }
    // &:nth-child(5) {
    //   background: green;
    // }
    // &:nth-child(7) {
    //   background: blue;
    // }
  }
  #button_menu{
    display: none;
    position: absolute;
    background: green;
    width: 100px;
    height: 200px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    .button_draft{
      position: absolute;
      padding: 7px;
    }
  }
}

//master classes
.flex_centered {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  // z-index: -1
}

.absolute_centered {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.wrapper_page {
  padding: 40px 50px;
  width: 100%;
  height: 100%;
  @media #{$tablet-landscape} {
    padding: 40px;
  }
}

.zindexsup {
  z-index: 1;
}

.zindexneutral {
  z-index: 0;
}

.zindexmin {
  z-index: -1;
}

//buton back
.link_back {
  position: absolute;
  margin: auto;
  &.right {
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 50px;
    &:before {
      @include rotate(90);
      top: -14px;
      right: 20px;
    }
    &:after {
      -webkit-transform: rotate(90deg) scaleX(-1);
      transform: rotate(90deg) scaleX(-1);
      top: 14px;
      right: 20px;
    }
    span {
      top: 0;
      height: 20px;
      right: -20px;
      -webkit-transform: rotate(90deg) scale(0);
      transform: rotate(90deg) scale(0);
    }
    &:hover {
      &:before {
        top: 150px;
      }
      &:after {
        top: -150px;
      }
      span {
        -webkit-transform: rotate(90deg) scale(1);
        transform: rotate(90deg) scale(1);
      }
    }
  }
  &.top {
    right: 0;
    left: 0;
    top: 0;
    height: 50px;
    width: 56px;
    &:before {
      @include rotate(0);
      top: 14px;
      right: 27px;
    }
    &:after {
      -webkit-transform: rotate(0deg) scaleX(-1);
      transform: rotate(0deg) scaleX(-1);
      right: 13px;
      top: 14px;
    }
    span {
      top: 20px;
      -webkit-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
    }
    &:hover {
      &:before {
        right: -50px;
      }
      &:after {
        right: 84px;
      }
      span {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
      }
    }
  }
  &.bottom {
    @extend .top;
    @include rotate(180);
    top: auto;
    bottom: 0px;
  }

  &:before {
    content: "";
    position: absolute;
    background: url(/svg/ico_half_triangle.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 20px;
    transition: all 300ms ease-in-out;
  }
  &:after {
    content: "";
    position: absolute;
    background: url(/svg/ico_half_triangle.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 20px;
    transition: all 300ms ease-in-out;
  }
  &.homepage {
    width: 41px;
    &:before {
      right: 20px;
    }
    &:after {
      right: 6px;
    }
    &:hover {
      &:before {
        right: -58px;
      }
    }
  }
  span {
    position: absolute;
    right: -15px;
    bottom: 0;
    margin: auto;
    color: #fe9263;
    font-size: rem-calc(20);
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    white-space: nowrap;
    transition: all 300ms ease-in-out;
  }
}

// templates style import
@import "templates/_home.scss";
@import "templates/_projects.scss";
@import "templates/singleproject.scss";
@import "templates/about.scss";



