<template name="homepage_template">
    <div id="homepage_wrapper">
        <div id="info_wrapper">
            <div id="logo">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="81px" height="122px" viewBox="0 0 64.000000 122.000000" preserveAspectRatio="xMidYMid meet">
                  <g id="logo_global_svg" fill="#fff" stroke="none">
                    <path d="M33 2.3 c-1.9 0.6 -3.7 1.2 -3.8 1.3 -0.4 0.2 9 30.1 24.9 79.7l7 21.7 5.9 -0 5.8 -0 -4.9 -15.3c-2.7 -8.3 -10.1 -31.7 -16.6 -52 -8.9 -28 -12.1 -36.7 -13.2 -36.6 -0.9 0.1 -3.2 0.6 -5.1 1.2z"/>
                    <path d="M21.3 17.2 c-1.8 0.6 -3.3 1.4 -3.3 1.7 0 1.2 31.7 100.2 32.3 100.7 0.2 0.3 2.7 0.4 5.4 0.2l4.9 -0.3 -16.5 -51.8c-12.6 -39.6 -16.9 -51.7 -18.1 -51.6 -0.8 0.1 -3 0.6 -4.7 1.1z"/>
                    <path d="M11 100 l0 5 14 -0c9.8 -0 14 -0.3 14 -1.1 0 -0.7 -0.5 -2.9 -1.2 -5l-1.1 -3.9 -12.9 -0 -12.8 -0 0 5z"/>
                    <path d="M0 115 l0 5 22.1 -0 22.1 -0 -0.6 -2.5c-0.3 -1.3 -1.1 -3.6 -1.6 -5l-1 -2.5 -20.5 -0 -20.5 -0 0 5z"/>
                </g>
                </svg>
            </div>
            <div class="name_wrapper">
                <p>bonjour,</p>
                <h1>i'm julien jounieau</h1>
                <h2>[but all of my friends call me jouino]</h2>
            </div>
        </div>
        <div id="trip_tick_wrapper">
            <a class="box transition_interne" id="about" href="/about/" data-template="about">
                <svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="about_Calque_1" x="0px" y="0px" width="94px" height="65px" viewBox="0 0 94 65" enable-background="new 0 0 94 65" xml:space="preserve">
                  <path class="computer" fill="#021E2F" d="M4.67 0h84.87c1.979 0.9 4.1 2.4 3.9 4.89c0.11 15.7 0 31.4 0.1 47.1 c0.301 2.72-1.65 5.699-4.56 5.699c-10.681 0.19-21.38 0.01-32.07 0.07c-0.069 0.9 0 2.943-0.033 3.9 c3.32 1.2 6.8 1.2 9.7 3.376h-39.5c2.83-2.18 6.751-2.33 9.981-3.5c0.245-1.28 0.054-3.001 0.042-3.761 C26.333 57.7 15.8 57.9 5 57.68C1.65 57.7 0 54 0.2 51.05C0.27 36 0.2 21 0.3 6C0.08 3.2 1.9 0.7 4.7 0z"/>
                  <path class="background" x="4" fill="#FFFFFF" d="M4.75 5c28.17 0 56.3 0 84.5 0c0 15.92-0.01 31.8 0 47.75c-28.16 0.01-56.33 0-84.5 0 C4.75 36.8 4.8 20.9 4.8 5z"/>
                  <path class="mustache" x="4" y="10" fill="#FE9263" d="M37.08 19.03c3.2-1.45 6.95-1.04 9.9 0.77c2.971-1.81 6.721-2.22 9.92-0.77 c5.45 2.4 6.6 9.6 12.2 11.81c2.8 1.3 7.2 1 8.34-2.3c0.9-2.25-1.04-4.07-2.16-5.8c2.439 1.3 5.2 3.2 5.4 6.2 c0.721 4.54-3.47 8.161-7.609 8.85C64.27 39.5 54.2 38.8 47 32.92c-6.9 5.65-16.52 6.5-25.03 5.1 c-4.12-0.521-8.75-3.48-8.68-8.061c-0.29-3.47 2.7-5.83 5.46-7.26c-1.1 1.72-3.05 3.521-2.17 5.771c1.16 3.4 5.5 3.6 8.3 2.3 C30.52 28.6 31.6 21.4 37.1 19.03z"/>
                </svg>
                <h3>i'm a ginger <span>26 years web addict</span></h3>
            </a>
            <a class="box transition_interne" id="currently" href="/projects/" data-template="projects">
                <svg width="110px" height="49px" viewBox="0 0 110 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                      <g id="currently" sketch:type="MSLayerGroup">
                          <path class="stroke_hover" d="M64.2,31.3 L101.2,29.8" id="path4141" stroke="#FE9263" stroke-width="1.66982758" sketch:type="MSShapeGroup"></path>
                          <path class="stroke_hover" d="M37.2,8.8 L42.1,19" id="path3221-1" stroke="#FE9263" stroke-width="1.66982758" sketch:type="MSShapeGroup"></path>
                          <g id="g3179" transform="translate(2.742826, 47.798046)"></g>
                          <g id="g3183" transform="translate(2.742826, 47.798046)"></g>
                          <g id="g3187" transform="translate(2.742826, 47.798046)"></g>
                          <g id="g3191" transform="translate(29.849749, 0.480052)" fill="#021E2F" sketch:type="MSShapeGroup">
                              <path d="M11.5269096,5.58517875 C11.5269096,8.5426187 9.1480992,10.9214291 6.19065925,10.9214291 C3.23321931,10.9214291 0.854408916,8.5426187 0.854408916,5.58517875 C0.854408916,2.62773881 3.23321931,0.248928419 6.19065925,0.248928419 C9.1480992,0.248928419 11.5269096,2.62773881 11.5269096,5.58517875 L11.5269096,5.58517875 Z" id="path4059"></path>
                          </g>
                          <path class="stroke_hover" d="M14.8,26.3 L33.8,28.6" id="path3221" stroke="#FE9263" stroke-width="1.28953314" sketch:type="MSShapeGroup"></path>
                          <path class="stroke_hover" d="M72.9,8 L59.4,21.6" id="path3221-1-7" stroke="#FE9263" stroke-width="1.66982758" sketch:type="MSShapeGroup"></path>
                          <path class="stroke_hover" d="M62.382418,32.9703697 C62.7136292,37.9433803 60.1798754,42.6832014 55.808709,45.2676198 C51.4375426,47.8520381 45.954581,47.8520381 41.5834146,45.2676198 C37.2122483,42.6832014 34.6784944,37.9433803 35.0097056,32.9703697 C34.6784944,27.9973591 37.2122483,23.257538 41.5834146,20.6731196 C45.954581,18.0887013 51.4375426,18.0887013 55.808709,20.6731196 C60.1798754,23.257538 62.7136292,27.9973591 62.382418,32.9703697 L62.382418,32.9703697 Z" id="path4051" stroke="#FE9263" stroke-width="1.97314038" fill="#FE9263" sketch:type="MSShapeGroup"></path>
                          <path d="M16.540323,24.5914056 C16.540323,28.9657349 12.9942286,32.5118294 8.61989931,32.5118294 C4.24557007,32.5118294 0.699475576,28.9657349 0.699475576,24.5914056 C0.699475576,20.2170764 4.24557007,16.6709819 8.61989931,16.6709819 C12.9942286,16.6709819 16.540323,20.2170764 16.540323,24.5914056 L16.540323,24.5914056 Z" id="path4059-0" fill="#021E2F" sketch:type="MSShapeGroup"></path>
                          <path d="M81.1798391,7.34105824 C81.1798391,11.3585207 77.9230423,14.6153175 73.9055799,14.6153175 C69.8881174,14.6153175 66.6313206,11.3585207 66.6313206,7.34105824 C66.6313206,3.32359577 69.8881174,0.066798964 73.9055799,0.066798964 C77.9230423,0.066798964 81.1798391,3.32359577 81.1798391,7.34105824 L81.1798391,7.34105824 Z" id="path4059-0-2" fill="#021E2F" sketch:type="MSShapeGroup"></path>
                          <path d="M109.84013,29.7090219 C109.84013,34.837407 105.682752,38.9947846 100.554367,38.9947846 C95.4259821,38.9947846 91.2686045,34.837407 91.2686045,29.7090219 C91.2686045,24.5806367 95.4259821,20.4232591 100.554367,20.4232591 C105.682752,20.4232591 109.84013,24.5806367 109.84013,29.7090219 L109.84013,29.7090219 Z" id="path4059-0-2-7" fill="#021E2F" sketch:type="MSShapeGroup"></path>
                      </g>
                  </g>
              </svg>
              <h3>Full Stack <span>Developer</span></h3>
            </a>
            <a href="mailto:julienjounieau@gmail.com" class="box" id="future">
                <svg
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:cc="http://creativecommons.org/ns#"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    id="svg2816"
                    version="1.1"
                    inkscape:version="0.48.4 r9939"
                    width="1000"
                    height="905"
                    sodipodi:docname="Australia.svg">
                    <defs
                    id="defs2820">
                        <inkscape:perspective
                        sodipodi:type="inkscape:persp3d"
                        inkscape:vp_x="0 : 0.5 : 1"
                        inkscape:vp_y="0 : 1000 : 0"
                        inkscape:vp_z="1 : 0.5 : 1"
                        inkscape:persp3d-origin="0.5 : 0.33333333 : 1"
                        id="perspective2824" />
                    </defs>
                    <sodipodi:namedview
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1"
                    objecttolerance="10"
                    gridtolerance="10"
                    guidetolerance="10"
                    inkscape:pageopacity="0"
                    inkscape:pageshadow="2"
                    inkscape:window-width="1600"
                    inkscape:window-height="838"
                    id="namedview2818"
                    showgrid="false"
                    inkscape:zoom="9.1008467"
                    inkscape:cx="26.398232"
                    inkscape:cy="883.67709"
                    inkscape:window-x="-8"
                    inkscape:window-y="-8"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="svg2816" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 27.552654,7.7138097 0.319142,-0.15117 0.302344,-0.13438 0.285546,-0.084 0.285547,-0.0504 0.403125,0 0.335937,0.10078 0.403126,0.23515 0.419921,0.38633 0.335938,0.40313 0.235156,0.45351 0.201562,0.41993 0.369532,0.4871 0.386328,0.20157 0.655078,0.1511703 0.823047,-0.0504 0.75586,-0.0504 0.403125,0 0.235156,-0.084 0.08398,-0.0672 0.0336,-0.38633 -0.05039,-0.28555 -0.100781,-0.20156 c 0,0 -0.05039,-0.10078 -0.117578,-0.10078 -0.06719,0 -0.268751,-0.0504 -0.268751,-0.0504 l -0.167968,-0.0672 -0.06719,-0.20156 0.06719,-0.5711 0.134375,-0.36953 0.235156,-0.43672 0.352734,-0.43672 0.235157,-0.30234 0.06719,-0.18477 0.151172,-0.084 0.352734,-0.0336 0.235156,0.0168 0.151172,0 0.08398,-0.11758 -0.08398,-0.23515 -0.151172,-0.33594 -0.0168,-0.38633 0.06719,-0.35273 0.151172,-0.33594 0.335938,-0.33594 0.503906,-0.30234 0.705469,-0.16797 0.58789,-0.084 0.688673,-0.0672 0.487109,-0.0504 0.671875,-0.0672 0.587891,-0.10078 0.419921,-0.25195 0.26875,-0.35274 0.100781,-0.33594 -0.03359,-0.41992 -0.117578,-0.23515 -0.201563,-0.25196 -0.235156,-0.20156 -0.184766,-0.0672 -0.285546,0.0168 -0.201563,-0.0168 -0.117578,-0.10078 0.0168,-0.21836002 0.167969,-0.20156 0.184766,-0.15117 0.235155,-0.0504 0.251953,0.0504 0.470313,0.25195 0.5375,0.41992002 0.335937,0.18477 0.21836,0.23516 0.100782,0.10078 0.134374,0 0.08399,-0.21836 -0.0168,-0.28555 -0.03359,-0.23516002 0.117578,-0.0504 0.134375,0.10078 0.134376,0.26875002 0.117578,0.21836 0.03359,0.13438 0.151171,0.10078 0.319141,0 0.251953,0.10078 0.487109,0.21836 0.386329,0.20156 0.386327,0.0504 1.629297,0.0168 0.117579,0.0168 0.08398,0.18476 0.100781,0.26875 0.218359,0.20157 0.285548,0.11757 0.419921,0.0168 0.520703,0.0168 0.285548,0.0336 0.235156,0.0336 0.117578,-0.10079 0.03359,-0.11757 0.218359,-0.0672 0.235156,0.0168 0.184766,0.0168 0.05039,0.10078 0.05039,0.26875 0.06719,0.21836 0.201562,0.084 0.184766,0.0336 0.184766,-0.0168 0.134375,-0.0504 0.100781,-0.20156 0.06719,-0.20156 0.134376,-0.10078 0.251953,-0.10078 0.251953,-0.0168 0.235157,0.0672 0.201562,0.10078 0.117578,0.15117 0.0168,0.28555 -0.06719,0.5039 -0.05039,0.5543 -0.100782,0.5375 0,0.15117 -0.06719,0.10078 -0.08398,0.084 -0.352735,0.0336 -0.739062,-0.0336 -0.436719,0 -0.201563,0.0336 -0.100781,0.13438 -0.167969,0.83984 -0.167968,0.82305 -0.302344,0.58789 -0.503906,0.67187 -0.419923,0.43672 -0.26875,0.21836 -0.134374,0.11758 0.03359,0.11758 0.386328,-0.0672 0.487109,0.0672 0.604688,0.16797 0.739063,0.31914 1.511718,0.9238203 0.789454,0.5375 0.571094,0.35274 0.739062,0.31914 0.688672,0.25195 0.571094,0.30235 0.386329,0.31914 0.503905,0.47031 0.537501,0.40312 0.352734,0.26876 0.352735,0.16796 0.184765,0.10078 0.06719,0.28555 0.26875,0.5375 0.218359,0.26875 0.436719,0.28555 0.470312,0.11758 0.991016,0 0.789453,-0.0168 0.419922,-0.0168 0.100781,-0.0504 0.100782,-0.33593 0.117577,-0.62149 0.184766,-0.73906 0.352735,-0.78946 0.335937,-0.80625 0.235157,-0.72226 0.100781,-0.73906 0.06719,-0.99102 0.0168,-1.1253903 0.31914,-2.23398 0.08398,-0.68868 0.03359,-0.5207 0,-0.33594 0.100781,-0.16796 0.08398,-0.0672 0.218359,-0.0336 0.151172,-0.0672 0.03359,-0.18477 0.08398,-0.89023 0.134375,-0.80625 0.26875,-0.70547 0.21836,-0.5543 0.26875,-0.5543 0.117578,-0.31914002 0.100781,-0.23515 0.06719,-0.13438 0.184766,-0.10077998 0.369531,0.0168 0.285547,0.18475998 0.251954,0.35274 0.201562,0.53750002 0.08398,0.5375 0.03359,0.38632 0,0.41993 0.03359,0.15117 0.08398,0.0504 0.302344,-0.0336 0.268751,-0.0168 0.100781,0.0168 0.134374,0.0168 0.03359,0.15117 -0.08398,0.21836 -0.06719,0.20157 0,0.48711 0.03359,0.35273 0.184766,0.50391 0.251953,0.60468 0.302344,0.70547 0.184766,0.5543 0.117577,0.58789 0.03359,0.65508 0,0.5543 0.0168,0.28554 0.05039,0.18477 0.184765,0.0504 0.403125,0 0.335938,-0.084 c 0,0 0.235157,-0.0336 0.302344,-0.0336 0.06719,0 0.403125,-0.0168 0.403125,-0.0168 l 0.31914,0.084 0.251954,0.20156 0.268749,0.36953 0.302344,0.5375003 0.319141,0.5207 0.134375,0.30235 0.08399,0.47031 0.0168,0.68867 0.08398,0.90703 0.06719,0.48711 0.05039,0.35274 0.201562,0.47031 0.21836,0.21836 0.184766,0.21836 0.352734,0.11758 0.134374,0.16797 0.117579,0.57109 0.06719,0.72227 0.0168,1.36054 0.05039,0.80625 0.167969,0.77266 0.352734,0.58789 0.453515,0.58789 0.571094,0.50391 0.386329,0.23515 0.31914,0.10078 0.251953,0 0.100782,0.0168 0.08398,0.15117 0.08398,0.47032 0.151172,0.18476 0.335938,0.20156 0.554297,0.31914 0.419922,0.26875 0.369531,0.40313 0.352734,0.50391 0.285548,0.73906 0.453515,0.97422 0.453516,0.85664 0.319141,0.73906 0.335937,0.83984 0.184766,0.80625 -0.03359,0.25196 0.05039,0.13437 0.100781,-0.0504 0.03359,-0.28554 0.06719,-0.23516 0.134375,-0.0504 0.235157,0.0672 0.117578,0.13437 0.151171,0.41992 0.151174,0.38633 0.11758,0.30234 0.0672,0.16797 0.16797,0.0336 0.10078,-0.30235 -0.0504,-0.5375 0.0336,-0.40312 0.0504,-0.15117 0.21836,-0.0504 0.18476,0 0.10078,0.10078 0.0504,0.35273 0.0168,1.14219 0.0672,0.70547 0.11758,0.72226 0.20156,0.63829 0.25196,0.40312 0.36953,0.40312 0.30234,0.38633 0.41992,0.5543 0.5879,0.95742 0.5039,0.77266 0.38633,0.47031 0.40312,0.36953 0.20157,0.10078 0.21836,0.0168 c 0,0 0.15117,-0.0168 0.15117,-0.10078 0,-0.084 0.0168,-0.25195 0.0168,-0.25195 0,0 0.0168,-0.26875 0.084,-0.30235 0.0672,-0.0336 0.16797,-0.16797 0.16797,-0.16797 l 0.28554,-0.10078 0.31914,0 0.16797,0.10078 0.0504,0.11758 -0.10078,0.26875 -0.11758,0.33594 -0.0504,0.33594 -0.16797,0.45351 -0.31914,0.21836 -0.21836,0.0168 -0.15117,0.0168 c 0,0 -0.11758,-0.0168 -0.13437,0.0672 -0.0168,0.084 -0.11758,0.40313 -0.11758,0.40313 l 0.0672,0.65508 0.0672,1.42773 -0.0336,1.39414 0.084,1.1086 0.0672,0.55429 -0.0672,0.99102 -0.11758,0.90703 -0.28554,0.90703 -0.35274,1.0582 -0.36953,0.77266 -0.25195,0.5543 -0.15118,0.58789 -0.15117,1.14219 -0.10078,0.90703 -0.13437,0.67187 -0.30235,0.65508 -0.68867,0.58789 -0.75586,0.5207 -0.50391,0.36954 -0.48711,0.45351 -0.28554,0.38633 -0.23516,0.43672 -0.235153,0.58789 -0.21836,0.67187 -0.369532,0.75586 -0.587891,0.78946 -0.31914,0.43671 -0.335937,0.47032 -0.268751,0.65508 -0.520703,0.65507 -0.571093,0.50391 -0.403126,0.43672 -0.201562,0.33594 -0.0168,0.58789 0.0168,0.62148 -0.134375,0.77266 -0.184766,0.63828 -0.201562,0.40312 -0.419922,0.45352 -0.671875,0.21836 -0.974219,0.0168 -1.276562,0.0504 -0.890235,0.15117 -0.688672,0.20156 -0.739063,0.41992 -0.369531,0.21836 -0.26875,0.0336 -0.235156,0.0672 -0.117578,0.20157 -0.05039,0.47031 -0.0168,0.16797 -0.134375,0.084 -0.31914,0 -0.571095,-0.20156 -0.520703,-0.10078 c 0,0 -0.151172,-0.0672 -0.151172,-0.13438 0,-0.0672 0,-0.36953 0,-0.36953 l -0.151172,-0.41992 -0.218359,-0.21836 -0.167968,-0.084 -0.100781,0.15117 0.0168,0.43672 0.0168,0.36953 -0.06719,0.10078 -0.184766,-0.0504 -0.302342,-0.23516 -0.319142,-0.25195 -0.201562,-0.21836 0.05039,-0.0672 0.251953,0 0.08398,-0.18476 0.03359,-0.36953 -0.100781,-0.26875 -0.285547,-0.43672 -0.100782,-0.0504 -0.184766,0.16797 -0.0168,0.57109 0.0168,0.45351 -0.184765,0.35274 -0.335938,0.23516 -0.184765,0.15117 -1.175781,0 -0.890235,-0.0504 -0.251953,-0.15118 c 0,0 -0.285547,-0.36953 -0.352735,-0.41992 -0.06719,-0.0504 -0.335937,-0.10078 -0.403125,-0.15117 -0.06719,-0.0504 -0.31914,-0.0336 -0.403124,-0.0672 -0.08398,-0.0336 -0.655078,-0.0336 -0.655078,-0.0336 L 61.213664,65.61245 60.558587,65.3437 60.037883,65.04136 59.533977,64.8398 59.013273,64.7894 c 0,0 -0.470312,0.0336 -0.554296,-0.0168 -0.08398,-0.0504 -0.503906,-0.21836 -0.503906,-0.21836 l -0.537501,-0.62148 -0.151172,-0.47032 0.0336,-0.72226 0.0168,-0.90703 0.03359,-0.89024 -0.201562,-0.62148 c 0,0 -0.26875,-0.28555 -0.335938,-0.33594 -0.06719,-0.0504 -0.386328,-0.20156 -0.386328,-0.20156 l -0.436719,-0.11758 -0.251953,-0.20156 -0.0168,-0.15118 0,-0.25195 0.03359,-0.20156 -0.06719,-0.0672 -0.151172,0.0672 -0.520703,0.31914 -0.285547,0.16797 c 0,0 -0.201562,0.10078 -0.302343,0.10078 -0.100781,0 -0.369532,0.0168 -0.436719,0.0168 -0.06719,0 -0.335938,-0.0336 -0.335938,-0.0336 l -0.06719,-0.11758 -0.0168,-0.33593 0.0168,-0.38633 0.03359,-0.18477 0.251953,-0.16797 0.218359,-0.25195 0.100781,-0.35273 -0.03359,-0.5375 -0.05039,-0.50391 -0.0168,-0.47031 -0.05039,-0.28555 -0.117578,-0.13437 -0.235156,-0.0672 -0.218359,0.084 -0.117578,0.0504 -0.08398,0.20157 0.03359,0.4871 -0.06719,0.41993 -0.06719,0.36953 -0.151172,0.25195 -0.184766,0.23516 -0.319141,0.16797 -0.302343,0.0504 -0.621485,0.0336 -0.31914,-0.0168 -0.08399,-0.13437 0.05039,-0.23516 0.285547,-0.26875 0.369531,-0.36953 0.419922,-0.33594 0.453516,-0.48711 0.268749,-0.36953 0.251954,-0.5375 0.184766,-0.70547 0.05039,-0.60468 -0.03359,-0.65508 0.05039,-0.5543 -0.03359,-0.40312 -0.03359,-0.28555 -0.134376,-0.0504 -0.117578,0.21836 -0.302343,0.57109 -0.43672,0.60469 -0.839843,1.00781 -0.352735,0.43672 -0.604687,0.5543 -0.403125,0.31914 -0.235156,0.16797 -0.16797,0.21836 -0.167968,0.23515 -0.05039,0.28555 0.03359,0.38633 0,0.30234 -0.134375,0.11758 -0.369531,0.0168 -0.403125,-0.28555 -0.419922,-0.47031 -0.335938,-0.75586 -0.218359,-0.87344 -0.184766,-0.73906 -0.26875,-0.5375 -0.520703,-0.5375 -0.386328,-0.15117 -0.403125,-0.0168 -0.167969,-0.10078 -0.100781,-0.23516 0.117579,-0.26875 c 0,0 0.10078,-0.0672 0.201561,-0.15117 0.100781,-0.084 0.251953,-0.11758 0.251953,-0.11758 l 0.134376,-0.0672 0.06719,-0.16797 0.0168,-0.25195 -0.117578,-0.10078 -0.319141,-0.0672 -0.235155,0.0168 -0.218361,-0.0504 c 0,0 -0.100781,-0.11758 -0.117577,-0.18477 -0.0168,-0.0672 0,-0.38632 0,-0.38632 l -0.03359,-0.18477 -0.335937,-0.0672 -0.587892,-0.0168 -0.571093,-0.20157 -0.638281,-0.084 -0.907032,0.0336 -0.554297,0 -0.31914,-0.10078 -0.201563,-0.18476 -0.06719,-0.21836 0.0168,-0.31914 c 0,0 0.06719,-0.13438 0,-0.20157 -0.06719,-0.0672 -0.184766,-0.20156 -0.184766,-0.20156 l -0.487109,-0.21836 -0.571095,-0.13437 -0.503905,0.0168 -0.621486,0.0336 -0.403125,0.10078 -0.873437,0.23515 -1.394141,0.5543 -0.789452,0.38633 -0.806251,0.36953 -0.823047,0.25195 -0.638281,0.10078 -0.890234,0 -0.470313,0.0336 -0.285547,0.15117 -0.285547,0.31914 c 0,0 -0.117578,0.21836 -0.201563,0.21836 -0.08398,0 -0.823047,0.18477 -0.823047,0.18477 l -1.142187,0.18476 -0.923828,0.33594 -1.007813,0.40312 -0.839843,0.48711 -0.587892,0.35274 -0.31914,0.40312 -0.235157,0.47032 -0.235155,0.43671 -0.117579,0.25196 -0.100781,0.15117 -0.436719,0.15117 -0.839844,0.21836 c 0,0 -0.907031,0.0672 -1.058203,0.084 -0.151172,0.0168 -1.158984,0.0168 -1.158984,0.0168 l -0.739063,-0.0672 -0.873438,0.0504 -0.655077,0.084 -0.873438,0.33594 -1.192579,0.5375 -0.638281,0.5375 -0.436719,0.31914 -0.26875,0.26875 -0.302343,0.45351 -0.369531,0.48711 -0.352735,0.25196 -0.31914,0.13437 -0.638282,0.0168 -1.730079,0.0168 -0.58789,-0.0168 L 10.57108,58.96089 10.050376,58.59136 9.479283,58.15464 9.193736,57.96987 8.538659,57.91947 7.984361,57.63393 7.732408,57.36518 l -0.06719,-0.20157 0.0168,-0.57109 0.0168,-0.28555 c 0,0 -0.05039,-0.13437 0.0168,-0.20156 0.06719,-0.0672 0.386329,-0.23516 0.386329,-0.23516 0,0 0.184765,-0.0336 0.251952,-0.084 0.06719,-0.0504 0.302344,-0.18477 0.302344,-0.18477 l 0.184766,-0.23515 0,-0.65508 -0.0168,-0.43672 -0.117579,-0.25195 -0.117578,-0.28555 0.0168,-0.50391 0.0168,-0.87343 -0.03359,-0.73907 0,-0.15117 L 8.471506,51.21772 7.9676,50.64663 7.514084,50.20991 7.144553,49.87397 6.8590064,49.57163 6.7582254,49.33647 6.6406474,48.98373 c 0,0 -0.03359,-0.40312 -0.08398,-0.4871 -0.05039,-0.084 -0.201563,-0.48711 -0.201563,-0.48711 0,0 -0.201562,-0.28555 -0.268748,-0.35274 -0.06719,-0.0672 -0.436718,-0.48711 -0.436718,-0.48711 l -0.285552,-0.30234 -0.117577,-0.18477 c 0,0 -0.100777,-0.21836 -0.08399,-0.28554 0.0168,-0.0672 0.0504,-0.47032 0.0504,-0.47032 l -0.0504,-0.35273 -0.151166,-0.15117 -0.36953,-0.16797 -0.403129,-0.26875 -0.251953,-0.21836 -0.235154,-0.26875 -0.151176,-0.33594 -0.05039,-0.45351 -0.0168,-0.38633 0.06719,-0.25196 -0.05039,-0.11757 -0.302342,-0.0168 c 0,0 -0.201564,-0.0504 -0.285552,-0.084 -0.08398,-0.0336 -0.218354,-0.11757 -0.218354,-0.11757 l -0.184765,-0.28555 0,-0.36953 0,-0.26875 -0.08399,-0.21836 -0.167966,-0.20156 -0.537505,-0.38633 -0.621483,-0.65508 -0.35273096,-0.41992 -0.20156497,-0.21836 -0.06719,-0.18477 -0.0168,-0.20156 0.151176,-0.15117 0.28555197,-0.0168 0.31913196,0.13438 0.302351,0.40312 0.453508,0.41992 0.38633,0.28555 0.285552,0.084 0.235154,-0.0336 0.08399,-0.15117 0.01679,-0.36953 -0.01679,-0.5375 c 0,0 -0.0168,-0.23516 -0.0504,-0.30235 -0.03359,-0.0672 0,-0.0672 -0.167966,-0.16796 -0.167966,-0.10079 -0.335941,-0.13438 -0.335941,-0.13438 l -0.251953,0.0168 -0.151166,-0.11758 0.03359,-1.15899 -0.01679,-0.10078 -0.184765,-0.13437 -0.235164,-0.0336 -0.403119,-0.26876 -0.33594096,-0.5207 -0.235154,-0.5543 -0.08399,-0.30234 0.13437597,-0.31914 0.218364,-0.43672 0.05039,-0.43672 0.05039,-0.87343 -0.0168,-1.73008 0,-0.77266 0.05039,-0.5543 0.0336,-0.25195 0.05039,-0.16797 0.08399,-0.0168 0.151166,0.0672 0.134377,0.35274 0.117577,0.43672 0.151175,0.23515 0.117577,0.0168 0.151176,-0.21836 0.08398,-0.40313 0.218364,-0.58789 0.35273,-0.70547 0.907036,-0.85664 0.705471,-0.83984 0.436718,-0.41992 0.587884,-0.45352 0.688672,-0.36953 0.655081,-0.16797 0.7726556,0 0.587891,-0.13437 c 0,0 0.436719,-0.23516 0.503907,-0.26875 0.06719,-0.0336 0.386327,-0.35274 0.386327,-0.35274 l 0.453515,-0.30234 0.5207033,-0.15117 0.4703127,-0.26875 0.419922,-0.40313 0.201562,-0.30234 0.369531,-0.38633 0.48711,-0.26875 0.403124,-0.10078 0.537501,-0.0168 0.688671,-0.0504 0.856641,-0.18476 0.688673,-0.18477 0.671875,-0.40312 0.722265,-0.5543 0.75586,-0.90703 0.419922,-0.5375 0.335938,-0.73907 0.167968,-0.65507 0.05039,-0.83985 0.0168,-0.90703 0.08399,-0.68867 0.285546,-0.68867 0.335938,-0.47032 0.285548,-0.31914 0.201562,-0.20156 0.167969,-0.0168 0.167968,0.15118 0.386329,0.5207 0.268749,0.25195 0.285548,0.25196 0.184765,0.13437 c 0,0 0.06719,0.084 0.117578,0 0.05039,-0.084 0.100781,-0.16797 0.100781,-0.16797 l 0.03359,-0.63828 -0.08398,-1.0582 0.0168,-0.35274 0.151172,-0.16797 0.436718,-0.0336 0.655078,0.0336 0.369531,0 0.151172,-0.084 0.06719,-0.38633 0.0168,-0.5543 -0.03359,-0.25195 -0.184765,-0.0672 -0.201563,0 -0.167969,-0.0672 c 0,0 -0.03359,-0.13438 0.0168,-0.21836 0.05039,-0.084 0.319141,-0.33594 0.319141,-0.33594 l 0.285547,-0.31914 0.184765,-0.33594 0.08399,-0.20156 c 0,0 0.03359,-0.0672 0.100781,-0.13438 0.06719,-0.0672 0.285547,-0.084 0.285547,-0.084 l 0.655078,0.0504 0.302344,0 0.167968,-0.10078 0.0168,-0.5207 -0.0168,-0.3359403 c 0,0 -0.0168,-0.15117 0.05039,-0.20156 0.06719,-0.0504 0.167969,-0.15118 0.235157,-0.15118 0.06719,0 0.335938,0.0336 0.335938,0.0336 l 0.369531,0.0504 0.134375,-0.10078 0,-0.28555 0.0168,-0.35273 0.302344,-0.26875 0.470313,-0.31914 0.940624,-0.50391 z"
                    id="path2830"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 36.068324,0.87129968 0.21379,-0.20191 0.225666,-0.0831 0.285053,0 0.249421,0.0831 0.403824,0.0831 0.498841,0.0119 0.38007,-0.0238 0.285053,-0.13065 c 0,0 0.106894,-0.10689 0.154403,-0.11877 0.04751,-0.0119 0.154404,-0.0237 0.154404,-0.0237 l 0.178157,0.0475 0.106895,0.14253 0.01188,0.33256 0.01188,0.23755002 -0.08314,0.16628 -0.190035,0.20191 -0.178157,0.0713 c 0,0 -0.118772,0.0356 -0.178158,0.0356 -0.05939,0 -0.190035,0.0356 -0.190035,0.0356 l -0.154403,0.13064 -0.320684,0.17816 -0.21379,0.0713 -0.21379,0.0119 -0.178157,-0.0119 c 0,0 -0.178158,-0.0713 -0.225666,-0.13065 -0.04751,-0.0594 -0.225667,-0.29693 -0.225667,-0.29693 l -0.201912,-0.15441 -0.285053,-0.14252 -0.225666,-0.19004 -0.09502,-0.22566002 0,-0.1069 z"
                    id="path2832"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 50.64163,6.5129597 -0.190034,0 -0.09502,-0.0713 0,-0.16628 0.04751,-0.11877 0.07126,-0.0594 0.130649,0.0238 0.07126,0.13065 0.02375,0.16628 -0.05939,0.095 z"
                    id="path2834"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 51.045455,7.0236797 0,-0.29693 0.08314,-0.19003 0.13065,-0.17816 0.130649,-0.0831 0.201912,-0.0119 0.142526,0.0238 0.190035,0.0594 0.118771,0.0713 0.05939,0.10689 -0.03563,0.095 -0.106895,0.10689 -0.07126,0.13065 -0.02376,0.16628 0.07126,0.13065 0.106894,0.11877 0.106895,0.0831 0.05939,0.1069 -0.01188,0.19003 c 0,0 -0.01188,0.13065 -0.05939,0.14253 -0.04751,0.0119 -0.09502,0.0594 -0.142526,0.0594 -0.04751,0 -0.285053,-0.0119 -0.285053,-0.0119 l -0.273175,-0.13065 -0.225666,-0.16628 -0.154403,-0.21379 -0.02376,-0.21379 0.01188,-0.095 z"
                    id="path2836"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 57.316721,13.28027 0.134375,-0.20157 0.260351,-0.11758 0.16797,-0.10078 0.193164,-0.0756 0.142773,-0.0504 0.151172,-0.0252 0.117579,0.0252 0.08398,0.0672 -0.05039,0.12598 -0.117578,0.0672 -0.201563,0.11758 -0.184766,0.0588 -0.142773,0.0924 -0.184766,0.10918 -0.109179,0.0504 -0.134375,0.0168 -0.117578,-0.0252 -0.05039,-0.0672 0.04199,-0.0672 z"
                    id="path2838"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 72.072778,69.36504 -0.0168,-0.15957 0.0084,-0.14278 0.07559,-0.0924 0.09238,0 0.142775,0.0336 0.184765,0.25196 0.142773,0.22675 0.100781,0.19317 0.09238,0.13437 0.100781,0.0504 0.03359,0.10079 -0.09238,0.0924 -0.125976,0.0924 -0.05879,0.0672 -0.100781,0.042 c 0,0 -0.109179,0.008 -0.142773,-0.008 -0.03359,-0.0168 -0.09238,-0.0504 -0.09238,-0.0924 0,-0.042 0.0252,-0.18477 0.0252,-0.18477 0,0 -0.0084,-0.0672 -0.0252,-0.10078 -0.0168,-0.0336 -0.07559,-0.15957 -0.07559,-0.15957 l -0.09238,-0.13437 -0.09238,-0.10079 -0.05039,-0.042 -0.03359,-0.0672 z"
                    id="path2840"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 72.467504,70.6332 0.06719,-0.14277 0.05039,-0.0924 0.09238,-0.0588 0.184766,0 0.142773,-0.008 0.10918,0.008 0.05879,0.008 0.05879,0.13437 -0.03359,0.10078 -0.134375,0.0588 -0.08398,0.042 -0.125976,0.0336 -0.193164,0 -0.184766,-0.0168 -0.0084,-0.0672 z"
                    id="path2842"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 64.572972,69.08789 -0.0252,-0.16797 0.03359,-0.20996 0.0168,-0.25195 c 0,0 0.05879,-0.0672 0.06719,-0.10919 0.0084,-0.042 -0.0084,-0.084 0.0168,-0.12597 0.0252,-0.042 0.134375,-0.10918 0.134375,-0.10918 0,0 0.06719,0.008 0.10078,0.008 0.0336,0 0.134376,0.084 0.134376,0.084 l 0.03359,0.19317 c 0,0 0.0168,0.0672 0.0168,0.13437 0,0.0672 0.0084,0.22676 0,0.26875 -0.0084,0.042 -0.08398,0.16797 -0.08398,0.16797 l -0.109179,0.11758 c 0,0 -0.05039,0.042 -0.100782,0.0504 -0.05039,0.008 -0.151172,0 -0.151172,0 l -0.08398,-0.0504 z"
                    id="path2844"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 65.939446,71.08922 0.142526,-0.24942 c 0,0 0.106894,-0.11877 0.154403,-0.11877 0.04751,0 0.166281,0 0.166281,0 l 0.190035,0.1544 0.04751,0.11877 0.21379,0.0713 0.344439,0.0356 0.237543,0.095 0.296929,0.24942 0.332562,0.24942 0.296929,0.24942 0.29693,0.16628 0.344438,0.0356 c 0,0 0.285053,0.0119 0.332561,-0.0238 0.04751,-0.0356 0.13065,-0.1069 0.190035,-0.13065 0.05939,-0.0238 0.29693,-0.095 0.29693,-0.095 l 0.308807,-0.0356 0.285053,-0.0594 0.451333,-0.0356 0.403824,-0.0594 0.261298,-0.0594 0.213789,-0.13065 0.21379,-0.11877 0.225666,0 0.249421,0.095 0.154404,0.095 0.118771,0.22567 0.02375,0.30881 -0.01188,0.32068 -0.05939,0.32068 -0.118771,0.38007 -0.09502,0.24942 -0.02375,0.34444 0.01188,0.39195 0.02376,0.23754 -0.05939,0.1069 -0.225667,0.0594 -0.142527,0.0119 -0.190035,0.15441 -0.130648,0.17815 -0.118772,0.17816 -0.03563,0.23754 0.05939,0.17816 0.166281,0.0713 0.08314,0.095 0,0.095 -0.01188,0.14253 -0.154404,0.0831 -0.04751,0.1544 0,0.20191 c 0,0 0,0.11877 0,0.19004 0,0.0713 -0.04751,0.1544 -0.04751,0.1544 l -0.02375,0.0594 -0.154404,0.0119 -0.166281,-0.0119 c 0,0 -0.05939,-0.16628 -0.04751,-0.21379 0.01188,-0.0475 -0.02375,-0.17816 -0.04751,-0.22567 -0.02375,-0.0475 -0.05938,-0.095 -0.118772,-0.095 -0.05939,0 -0.178157,0 -0.178157,0 l -0.13065,0.0356 -0.213788,0.15441 -0.142527,0.10689 -0.213789,0.27318 -0.190035,0.16628 -0.154404,0.36819 -0.09502,0.19004 -0.190035,0.095 -0.225666,-0.0119 -0.261299,-0.1069 -0.190035,-0.1544 -0.106895,-0.0831 -0.09502,0 c 0,0 -0.08314,0 -0.130649,0 -0.04751,0 -0.130649,0.0119 -0.130649,0.0119 l -0.08314,-0.0238 c 0,0 -0.09502,0 -0.130648,-0.0594 -0.03563,-0.0594 -0.07126,-0.095 -0.07126,-0.095 l -0.142526,-0.0831 c 0,0 0.01188,0.0119 -0.106895,-0.0713 -0.118772,-0.0831 -0.261299,-0.16628 -0.261299,-0.16628 0,0 -0.106894,-0.0713 -0.118771,-0.11877 -0.01188,-0.0475 -0.201912,-0.29693 -0.201912,-0.29693 l -0.190035,-0.36819 -0.09502,-0.29693 -0.02375,-0.29693 0.01188,-0.27317 -0.07126,-0.20192 -0.142526,-0.14252 c 0,0 -0.154402,-0.0594 -0.178157,-0.11877 -0.02375,-0.0594 -0.04751,-0.17816 -0.04751,-0.17816 l 0.08314,-0.11877 c 0,0 0.07126,-0.0594 0.142526,-0.0832 0.07126,-0.0237 0.09502,-0.0475 0.09502,-0.0475 0,0 0.02375,-0.0356 0.02375,-0.1069 0,-0.0713 0,-0.16628 0,-0.16628 l -0.09502,-0.21379 c 0,0 -0.02375,-0.11877 -0.03563,-0.16628 -0.01188,-0.0475 -0.225667,-0.43945 -0.225667,-0.43945 l -0.249421,-0.19004 -0.190035,-0.21379 -0.106894,-0.13065 -0.05939,-0.34444 0.01188,-0.4157 0.01188,-0.47509 -0.01188,-0.23754 z"
                    id="path2846"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 70.39339,77.40788 -0.118772,-0.10689 -0.02375,-0.16628 0.03563,-0.17816 0.04751,-0.0713 0.142526,0.0356 0.07126,0.13065 0,0.1544 -0.02375,0.11877 -0.05939,0.095 -0.07126,-0.0119 z"
                    id="path2848"
                    inkscape:connector-curvature="0" />
                    <path
                    style="fill:#021e2f;fill-opacity:1;stroke:#000000;stroke-width:0.0942727px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 50.843543,58.92698 0.21379,-0.23754 0.154403,-0.17816 0.213789,-0.13065 0.21379,-0.0237 0.130648,-0.0594 0.308808,0 0.308806,-0.0119 0.201912,0.0594 c 0,0 0.142526,0.0356 0.261299,0.0713 0.118771,0.0356 0.154402,0.0475 0.201911,0.0475 0.04751,0 0.142526,0 0.142526,0 l 0.13065,0.0356 0.05939,0.0713 -0.03563,0.16628 c 0,0 -0.05938,0.14252 -0.106894,0.16628 -0.04751,0.0237 -0.166281,0.0831 -0.166281,0.0831 l -0.130649,0.10689 c 0,0 0.05938,0.0594 -0.03563,0.0831 -0.09502,0.0238 -0.154403,0.0356 -0.154403,0.0356 l -0.130649,-0.0713 0,-0.0594 -0.154403,-0.0119 -0.142527,0 -0.106894,0.10689 -0.546351,-0.0238 -0.498842,0.0119 -0.201912,-0.0713 -0.154403,-0.0594 -0.02376,-0.0475 0.04751,-0.0594 z"
                    id="path2850"
                    inkscape:connector-curvature="0" />
                    <path
                    class="circle"
                    sodipodi:type="arc"
                    style="fill:#fe9263;fill-opacity:1;stroke:#021e2f;stroke-width:3.42400002;stroke-miterlimit:4;stroke-opacity:0;stroke-dasharray:none"
                    id="path4702"
                    sodipodi:cx="-129.21875"
                    sodipodi:cy="503.27914"
                    sodipodi:rx="116.9122"
                    sodipodi:ry="116.9122"
                    d="m -12.306549,503.27914 a 116.9122,116.9122 0 1 1 -233.824401,0 116.9122,116.9122 0 1 1 233.824401,0 z"
                    transform="matrix(0.0942727,0,0,0.0942727,91.461319,3.9978597)" />
                </svg>
                <h3>Available <span>in Sydney</span></h3>
            </a>
        </div>
    </div>
</template>
