<template name="projects_template">
	<div id="projects_wrapper" class="wrapper_page">
		<h1>some of <span>my works</span></h1>
		<div class="flex_centered absolute_centered">
		<ul class="projects_list no-bullet">
			{{#each Projects}}
				<li><a href="/project/{{ url }}" class="transition_interne" data-template="project" data-idproject="{{ id_project }}">{{ name }}</a></li>
			{{/each}}
		</ul>
		</div>
	</div>
	<div class="background_projects">
		<div class="logo_vw svg_logo_wrapper">
			<svg width="159px" height="159px" viewBox="0 0 159 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="test" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" >
			    <g id="vw_logo_Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" 	sketch:type="MSPage">
			        <g id="vw_logo_vw" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)" stroke="#979797">
			            <path d="M78.5,157 C119.758599,157 153.582929,125.170115 156.756661,84.7266745 C156.917873,82.6723267 157,80.5957542 157,78.5 C157,35.1456471 121.854353,0 78.5,0 C35.1456471,0 0,35.1456471 0,78.5 C0,121.854353 35.1456471,157 78.5,157 Z" id="vw_logo_large_circle" sketch:type="MSShapeGroup"></path>
			            <ellipse id="vw_logo_small_circle" sketch:type="MSShapeGroup" cx="79.7076923" cy="78.5" rx="65.2153846" ry="66.4230769"></ellipse>
			            <g id="vw_logo_shapes" transform="translate(21.738462, 19.323077)" sketch:type="MSShapeGroup">
			                <path d="M42.2323698,3.85662097 C43.7338739,2.22850058 71.9115063,1.61285169 73.4680603,3.66761403 C74.6759225,5.26207842 58.9898111,37.4649901 57.8362478,37.4649901 C56.6826846,37.4649901 40.7308656,5.48474135 42.2323698,3.85662097 Z" id="vw_logo_Path-1"></path>
			                <path d="M87.369327,11.0578004 L102.528031,25.1097322 L78.7574233,83.361796 L66.6206153,60.7079593 L49.8376996,60.7079593 L37.4399754,84.7473765 L12.4483802,25.431996 L28.0870189,10.5801732 L49.0895421,54.3607471 L67.1584766,54.3607471 L87.369327,11.0578004 Z" id="vw_logo_Path-2"></path>
			                <path d="M3.28078301,42.1124158 C1.98134471,41.4421225 -0.54100401,64.2055605 1.98134466,70.1270607 C4.50369333,76.0485609 12.5183698,91.0645912 17.4088582,96.1219807 C22.2993466,101.17937 29.9302303,106.194454 31.2473575,106.194455 C32.5644848,106.194456 4.58022131,42.7827091 3.28078301,42.1124158 Z" id="vw_logo_Path-3"></path>
			                <path d="M110.514301,44.5278004 C111.81374,43.8575071 114.336088,66.6209451 111.81374,72.5424453 C109.291391,78.4639455 101.276715,93.4799758 96.3862262,98.5373653 C91.4957378,103.594755 83.8648542,108.609838 82.5477269,108.609839 C81.2305997,108.60984 109.214863,45.1980937 110.514301,44.5278004 Z" id="vw_logo_Path-4"></path>
			                <path d="M58.2186727,77.1869535 L42.2970905,109.870542 L73.3314597,110.386931 L58.2186727,77.1869535 Z" id="vw_logo_Path-5"></path>
			            </g>
			        </g>
			    </g>
			</svg>
		</div>
		<div class="logo_redfox svg_logo_wrapper">
			<svg width="703px" height="659px" viewBox="0 0 703 659" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
			    <g id="redfox_Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			        <path d="M44.3669178,336.898135 L220.764465,468.681516 L351.632684,658.348918 L280.7076,374.648583 L252.795148,364.353006 L220.76447,468.681521 L130.849762,329.398093 L158.075842,327.338978 L252.79514,364.353004 L266.522583,318.187354 L44.366918,336.898135 L192.852012,230.102976 L266.522588,318.187357 L82.8037388,255.041151 L44.366918,336.898134 L130.849759,329.398096 L82.8037388,255.041151 L1.12549578,1.07376175 L216.135739,108.85371 C216.135739,108.85371 172.774915,156.395246 151.094503,180.166015 C128.330916,205.124394 82.8037413,255.041154 82.8037413,255.041154 L192.852013,230.102982 L151.094505,180.166016 L216.135734,108.853707 L280.707588,374.648591 L266.522591,318.187348 L82.8037413,255.041154 L620.21868,255.015261 L552.207465,179.992581 L702.252826,0.966496861 L620.218696,255.015264 L510.606104,230.214941 L552.207466,179.992574 L487.234552,109.150304 L435.841591,318.187353 L510.606117,230.21494 L569.492371,272.310209 L435.841591,318.187353 L572.06324,329.398107 L596.369636,292.176031 L658.771697,336.581975 L620.218696,255.015264 L596.369636,292.176031 L569.492378,272.310216 L620.218696,255.015264 L482.550209,468.681524 L450.7649,364.353002 L422.060799,374.648595 L435.841591,318.187353 L450.7649,364.353002 L545.419685,327.338964 L658.771675,336.581975 L482.550209,468.681524 L351.632698,658.348943 L487.234566,109.150304 L702.252815,0.966496795 L487.234566,109.150304 L216.135734,109.150304 L151.094505,179.992574 L1.12549578,0.966496814" id="redfox_logo" stroke="#979797" sketch:type="MSShapeGroup"></path>
			    </g>
			</svg>
		</div>
		<div class="logo_nob svg_logo_wrapper">
			<svg width="50px" height="47px" viewBox="0 0 50 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
			    <g id="noblema_Page-1" stroke="#979797" stroke-width="1" fill="#979797" fill-rule="evenodd" sketch:type="MSPage">
			        <path d="M0.41446942,45.9618219 L10.0787061,0.994052237 L19.0540291,0.994052237 L38.5670463,34.9008282 L45.8802725,0.994052237 L49.701739,0.994052237 L41.9403598,45.9618219 L32.8161911,45.9618231 L13.269932,12.2877407 L5.72401237,45.9618219 L0.41446942,45.9618219 Z" id="noblema_Path-9" stroke="" sketch:type="MSShapeGroup"></path>
			    </g>
			</svg>
		</div>
		<div class="logo_citroen svg_logo_wrapper">
			<svg width="94px" height="84px" viewBox="0 0 94 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
			    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			        <g id="logo_citroen" sketch:type="MSLayerGroup" transform="translate(1.000000, 0.000000)" stroke-width="0.4" fill="#231F20">
			            <path d="M46.2175,60.8967369 C57.9789982,60.8967369 86.3718087,36.5171609 89.9311292,33.421516 C90.1715084,33.2104216 90.5058429,32.9407576 91.1208232,33.0115291 C92.0079079,33.1128056 92.0335321,34.4684467 92.0335321,34.4684467 C92.0335321,34.4684467 92.2446265,37.566532 92.2446265,40.6841404 C92.2446265,44.6144014 89.175826,48.0504818 89.175826,48.0504818 C89.175826,48.0504818 57.3591371,83.0994779 46.2175,83.0994779 C35.0758629,83.0994779 3.25917401,48.0504818 3.25917401,48.0504818 C3.25917401,48.0504818 0.190373521,44.6144014 0.190373521,40.6841404 C0.190373521,37.566532 0.401467948,34.4684467 0.401467948,34.4684467 C0.401467948,34.4684467 0.427092127,33.1128056 1.3141768,33.0115291 C1.9291571,32.9407576 2.26349162,33.2104216 2.50509102,33.421516 C6.06319131,36.5171609 34.4560018,60.8967369 46.2175,60.8967369" id="bottom_anchor" stroke="#979797" sketch:type="MSShapeGroup" transform="translate(46.217500, 58.049739) rotate(-180.000000) translate(-46.217500, -58.049739) "></path>
			            <path d="M46.2175,28.8967369 C57.9789982,28.8967369 86.3718087,4.51716086 89.9311292,1.42151599 C90.1715084,1.21042157 90.5058429,0.940757586 91.1208232,1.01152913 C92.0079079,1.11280565 92.0335321,2.46844673 92.0335321,2.46844673 C92.0335321,2.46844673 92.2446265,5.566532 92.2446265,8.68414044 C92.2446265,12.6144014 89.175826,16.0504818 89.175826,16.0504818 C89.175826,16.0504818 57.3591371,51.0994779 46.2175,51.0994779 C35.0758629,51.0994779 3.25917401,16.0504818 3.25917401,16.0504818 C3.25917401,16.0504818 0.190373521,12.6144014 0.190373521,8.68414044 C0.190373521,5.566532 0.401467948,2.46844673 0.401467948,2.46844673 C0.401467948,2.46844673 0.427092127,1.11280565 1.3141768,1.01152913 C1.9291571,0.940757586 2.26349162,1.21042157 2.50509102,1.42151599 C6.06319131,4.51716086 34.4560018,28.8967369 46.2175,28.8967369" id="top_anchor" stroke="#979797" sketch:type="MSShapeGroup" transform="translate(46.217500, 26.049739) rotate(-180.000000) translate(-46.217500, -26.049739) "></path>
			        </g>
			    </g>
			</svg>
		</div>
		<div class="logo_bt svg_logo_wrapper">
			<svg width="234px" height="194px" viewBox="0 0 234 194" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
			    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			        <g id="bouygues_telecom" sketch:type="MSLayerGroup" transform="translate(0.000000, -1.000000)">
			            <g id="logo_wrapper" transform="translate(116.899276, 98.323470) scale(1, -1) translate(-116.899276, -98.323470) translate(0.399276, 0.823470)" sketch:type="MSShapeGroup">
			                <path d="M95.8644678,4.29458808 C79.3107331,-7.13629298 46.5515598,11.5410798 22.7077965,46.0804326 C-1.14080427,80.614948 -7.0521613,117.84392 9.50157335,129.274801 C26.0601454,140.710519 57.9921158,122.981286 81.8407165,88.441933 C105.68448,53.9074176 112.418202,15.7254691 95.8644678,4.29458808" id="left" fill="#0060AF"></path>
			                <path d="M137.161779,4.29458808 C153.715513,-7.13629298 186.474687,11.5410798 210.31845,46.0804326 C234.167051,80.614948 240.078408,117.84392 223.524673,129.274801 C206.966101,140.710519 175.034131,122.981286 151.18553,88.441933 C127.341767,53.9074176 120.608044,15.7254691 137.161779,4.29458808" id="right" fill="#F26522"></path>
			                <path d="M192.56985,157.98025 C192.56985,178.070156 158.509404,194.357832 116.4962,194.357832 C74.4878328,194.357832 40.427387,178.070156 40.427387,157.98025 C40.427387,137.890344 74.4878328,121.602668 116.4962,121.602668 C158.509404,121.602668 192.56985,137.890344 192.56985,157.98025" id="top" fill="#00ACD5"></path>
			            </g>
			        </g>
			    </g>
			</svg>
		</div>
	</div>
	<a class="link_back top transition_interne" data-template="home">
		<span>Homepage</span>
	</a>
</template>