<template name="project_single">
	<div id="project_single_wrapper">
		<div class="row">
			<div class="columns nopadding large-12 title_wrapper zindexsup">
				<h1><span>{{ name }}</span></h1>
				<ul class="quick_access">
					<li>Quick access:</li>
					<li><a href="/project/redfox-agency">Redfox</a></li>
					<li><a href="/project/volkswagen">Volkswagen</a></li>
					<li><a href="/project/noblema">Noblema</a></li>
					<li><a href="/project/citroen">Citroën</a></li>
					<li><a href="/project/bouygues-telecom">Bouygues Telecom</a></li>
				</ul>
				
			</div>
		</div>
		<div class="row flex_centered absolute_centered wrapper_page zindexneutral">
			<div class="content_wrapper ">
				<dl class="project_details">
					<dt>Year</dt>
					<dd>{{ year }}</dd>
					<dt>Job</dt>
					<dd>{{{ job }}}</dd>
					<dt>Type of contract</dt>
					<dd>{{ work_type }}</dd>
					<dt>Location</dt>
					<dd>{{ location }}</dd>
				</dl>
				<div class="main_content_wrapper">
					<p>{{{ main_content }}}</p>
				</div>
			</div>
		</div>
		

		
		
	</div>

	<a href="/projects/" class="link_back right transition_interne" data-template="projects">
		<span>Projects list</span>
	</a>
</template>