/*
*
*Mixin for CSS3 animation
*
*/
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin rotate($deg) {
  -webkit-transform: rotate(#{$deg}deg);
  transform: rotate(#{$deg}deg);
}

/*
*
*ANIMATIONS
*
*/

// Intro logo large plus
@include keyframes (anim_logo_intro_large_plus) {
  0% {
    transform: translateX(432px);
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  9% {
    transform: translateX(915px);
  }
  25% {
    transform: translateX(0px);
  }
  99% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

// Intro title large plus
@include keyframes (anim_title_after_intro_large_plus) {
  0% {
    width: 0%;
  }
  9% {
    width: 64%;
  }
  25% {
    width: 64%;
    height: 100%;
  }
  50% {
    width: 64%;
    height: 100%;
  }
  100% {
    width: 64%;
    height: 0%;
  }
}

@include keyframes (anim_title_before_intro_large_plus) {
  0% {
    left: 100%;
  }
  9% {
    left: 100%;
  }
  25% {
    left: 0%;
    height: 100%;
  }
  50% {
    left: 0%;
    height: 100%;
  }
  100% {
    left: 0%;
    height: 0%;
  }
}

@include keyframes (anim_title_intro_large_plus) {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  26% {
    color: $main_orange;
  }
  100% {
    color: $main_orange;
  }
}


/*Picto offcanvas menu*/
@include keyframes(animate_menu_open_elt1) {
  0%{
    top: 0px;
    left: 25px;
    @include rotate(90deg);
  }
  100% {
    top : 10px;
    left: 27px;
    @include rotate(45deg);
  }
}

@include keyframes(animate_menu_open_elt2){
  0%{
    fill-opacity: 1;
  }
  100%{
    fill-opacity: 0;
  }
}

@include keyframes(animate_menu_open_elt3){
  0%{
    top: 16px;
    left: 25px;
    @include rotate(90deg);
  }
  100%{
    top : 10px;
    left: 27px;
    @include rotate(135deg);
  }
}

@include keyframes(animate_menu_close_elt1) {
  0%{
    top : 10px;
    left: 27px;
    @include rotate(45deg);
  }
  100%{
    top : 0px;
    left: 25px;
    @include rotate(90deg);
  }
}

@include keyframes(animate_menu_close_elt2){
  0%{
    fill-opacity: 0;
  }
  100%{
    fill-opacity: 1;
  }
}

@include keyframes(animate_menu_close_elt3) {
  0%{
    top : 10px;
    left: 27px;
    @include rotate(135deg);
  }
  100%{
    top : 16px;
    left: 25px;
    @include rotate(90deg);
  }
}

/*animation on logo*/
@include keyframes(animate_logo) {
  0%{
    -webkit-filter: drop-shadow(0px 0px 0px transparent);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 12px #fe9263);
  }
  100%{
    -webkit-filter: drop-shadow(0px 0px 0px transparent);
  }
}

/*HOME animation circle box aussie*/
@include keyframes(animate_circle_aus_home) {
  0%{
    fill-opacity:1
  }
  50%{
    fill-opacity:0.5
  }
  100%{
    fill-opacity:1
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_vw) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
    // stroke-dasharray: 100px;
  }
  100%{
    stroke-dashoffset: 0px;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_redfox) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 0px;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_noblema) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 0px;
    fill-opacity: 0.1;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_citroen_bottom) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 0px;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_citroen_top) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 520px;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_bt) {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 0px;
  }
}

// List projects - animation on SVG logo background
@include keyframes(animate_svg_logo_bt_transform) {
  100%{
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

// About - handwritting animation
@include keyframes(animate_about_writting) {
  100%{
    stroke-dashoffset: 0px;
  }
}
