#about {
	#about_wrapper{
		h1 {
			z-index: -1;
			display: block;
			position: relative;
			overflow: hidden;
			&:before {
				content:"";
				position: absolute;
				width: 0%;
				height: 100%;
				background-color: #fe9263;
				top: 0%;
				left: 0%;
				transition: all 0ms ease-in-out;
			}
		}
		.svg_wrapper_about {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			svg {
				margin: auto;
				path {
					stroke: #fff;
				}
				#about path {
					stroke-dasharray: 100px;
					stroke-dashoffset: 100px;
				}
				#instagram_official path {
					stroke-dasharray: 210px;
					stroke-dashoffset: 210px;
				}
				#linkedin path {
					stroke-dasharray: 210px;
  					stroke-dashoffset: 210px;
				}
				#twitter path {
					stroke-dasharray: 280px;
  					stroke-dashoffset: 280px;
				}
				#twitter,
				#linkedin,
				#instagram_official {
					cursor: pointer;
					path {
						fill: rgba(0,0,0,0);
						transition: all 300ms linear;
					}
					&:hover {
						path {
							stroke: #fe9263;
						}
					}
				}
			}
			&.active_hover {
				svg {
					#about path {
						@include animation('ease-in-out 0s normal forwards 1 animate_about_writting');
					}
					#instagram_official path {
						@include animation('ease-in-out 0s normal forwards 1 animate_about_writting');
					}
					#linkedin path {
						@include animation('ease-in-out 0s normal forwards 1 animate_about_writting');
					}
					#twitter path {
						@include animation('ease-in-out 0s normal forwards 1 animate_about_writting');
					}
				}
			}
		}
	}
	&.et-page-current {
		#about_wrapper .svg_wrapper_about {
			svg {
				#about path {
					@include animation('ease-in-out 0s normal forwards 1 animate_about_writting');
				}
			}
		}
	}
}
