#homepage{
  #homepage_wrapper{
    @media #{$tablet-landscape} {
      width: 100%;
    }
    #info_wrapper{
      width: 100%;
      p{
        font-family: futuracondensed_medium;
        font-size: 2.605rem;
        color:#ffffff;
        text-transform: uppercase;
        margin-bottom: -34px;
        @media #{$tablet-landscape} {
          font-size: 2.6vw;
        }
      }
      #logo{
        float: left;
        margin-top: 6px;
        margin-right: 18px;
        svg {
          @media #{$tablet-landscape} {
            width: 7vw;
            height: 100%;
          }
        }
      }
      h1{
        font-size: 9.278rem;
        color: $main_orange;
        font-family: futuracondensed_extrabold;
        text-transform: uppercase;
        line-height: 131.2919921875px;
        z-index: -1;
        @media #{$tablet-landscape} {
          font-size: 8.4vw;
          line-height: 13.7vw;
        }
      }
      h2{
        font-family: futuracondensed_medium;
        font-size: 1.623rem;
        color:#ffffff;
        text-transform: uppercase;
        text-align: right;
        margin-top: -30px;
      }
    }
    #trip_tick_wrapper{
      width: 100%;
      margin: 112px 0px 0px 0px;
      overflow: hidden;
      @media #{$tablet-landscape} {
        width: auto;
      }
      .box{
        height: 313px;
        width: 313px;
        float: left;
        background-color: #fff;
        box-sizing:border-box;
        cursor: pointer;
        transition: background 500ms ease-in-out;
        @media #{$tablet-landscape} {
          height: auto;
          width: 32%;
        }
        &.active{
          background-color:$main_orange;
          h3{
            span{
              color:$main_blue;
            }
          }
        }

        h3{
          font-size: 1.689rem;
          font-family: futuracondensed_medium;
          text-transform: uppercase;
          color: #021e2f;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          span{
            font-family: futuracondensed_extrabold;
            color: $main_orange;
            display: block;
            transition: color 500ms ease-in-out;
          }
        }
        svg{
          display: block;
          margin: 0 auto;
        }

        &#about{
          padding-top: 80px;
          @media #{$tablet-landscape} {
            padding-top: 30px;
            padding-bottom: 30px;
          }
          h3{
            padding-top: 47px;
          }
          svg{
            width: 94px;
            height: 65px;
            path {
              transition: fill 500ms ease-in-out;
            }
          }
          &.active{
            svg{
              .background{
                fill:$main_orange;
              }
              .mustache{
                fill:#fff;
              }
            }
          }
        }

        &#currently{
          padding-top: 80px;
          margin: 0px 10px;
          @media #{$tablet-landscape} {
            margin: 0px 2%;
            padding-top: 30px;
            padding-bottom: 30px;
          }
          h3{
            padding-top: 57px;
          }
          svg{
            width: 112px;
            height: 55px;
            path {
              transition: all 500ms ease-in-out;
            }
          }
          &.active{
            svg{
              .stroke_hover{
                fill: #fff !important;
                stroke: #fff !important;
              }
            }
          }
        }

        &#future{
          padding-top: 80px;
          @media #{$tablet-landscape} {
            padding-top: 30px;
            padding-bottom: 30px;
          }
          h3{
            padding-top: 32px;
          }
          svg{
            width: 90px;
            height: 80px;
            path {
              transition: all 500ms ease-in-out;
            }
          }
          &.active{
            svg{
              path{
                fill:#fff !important;
                stroke:#fff !important;
                &.circle{
                  fill:#021e2f !important;
                  @include animation('animate_circle_aus_home 2s ease-in-out 0s infinite normal forwards  ');
                }
              }
            }
          }
        }
      }
    }
  }
}
