#projects{
  #projects_wrapper{
    width: 100%;
    height: 100%;
    h1 {
      line-height: 60px;
    }
    .projects_list {
      li {
        margin: 10px 0px;
        a {
          display: block;
          text-align: center;
          font-size: 1.689rem;
          width: 300px;
          text-transform: uppercase;
          font-family: futuracondensed_extrabold;
          color: #fe9263;
          display: block;
          padding: 10px 0px;
          transition: all 500ms ease-in-out;
          &.inactive {
            background-color: transparent;
            // color: #021e2f;
          }
          &.active {
            background-color: #fe9263;
            color: #021e2f;
          }
        }
      }
    }
  }
  .background_projects {
    .svg_logo_wrapper {
      display: none;
      svg {
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        margin: auto;

        position: absolute;
        top: 0px;
        right: 0;
        z-index: -1;

      }
      &.active {
        display: block;
      }
    }
    .logo_vw {
      g {
        stroke-width: 0.2px;
        stroke-dasharray: 500px;
        stroke-dashoffset: 500px;
      }
      &.active {
        g {
          @include animation('4s ease-in-out 0s normal forwards 1 animate_svg_logo_vw');
        }
      }
    }
    .logo_redfox {
      g {
        stroke-dasharray: 10000px;
        stroke-dashoffset: 10000px;
        // stroke-width: 0.1px;
      }
      &.active {
        g {
          @include animation('6s ease-in-out 0s normal forwards 1 animate_svg_logo_redfox');
        }
      }
    }
    .logo_nob {
      g {
        stroke-width: 0.1px;
        fill-opacity: 0;
        stroke-dasharray: 300px;
        stroke-dashoffset: 300px;
      }
      &.active {
        g {
          @include animation('4s ease-in-out 0s normal forwards 1 animate_svg_logo_noblema');
        }
      }
    }
    .logo_citroen {
      g {
        stroke-dasharray: 260px;
        stroke-dashoffset: 260px;
        stroke-width: 0.1px;
        fill-opacity: 0;
        stroke: #fff;
      }
      &.active {
        g {
          #bottom_anchor {
            @include animation('3s ease-in-out 0s normal forwards 1 animate_svg_logo_citroen_bottom');
          }
          #top_anchor {
            @include animation('3s ease-in-out 0s normal forwards 1 animate_svg_logo_citroen_top');
          }
        }
      }
    }
    .logo_bt {
      g {
        // stroke-dasharray: 300px;
        // stroke-dashoffset: 300px;
        stroke-width: 0.4px;
        stroke: #979797;
        stroke-dashoffset: 400px;
        stroke-dasharray: 400px;
        fill-opacity: 0;
        #left {
          transform: rotate(55deg) translateX(62.2px) translateY(-34.4px);
          transform-origin: center center;
        }
        #right {
          transform-origin: center center;
          transform: rotate(-55deg) translateX(-62.5px) translateY(-34.6px);
        }
        #top {
          transform: translateY(-60px);
          transform-origin: center center;
        }
      }
      &.active {
        g {
          @include animation('4s ease-in-out 0s normal forwards 1 animate_svg_logo_bt');
          path {
            @include animation('3s ease-in-out 0s normal forwards 1 animate_svg_logo_bt_transform');
          }
        }
      }
    }
  }
}
