#singleproject {
	#project_single_wrapper{
		width: 100%;
		padding: 40px 50px;
		height: 100%;
		h1 {
			z-index: -1;
			display: block;
			position: relative;
			overflow: hidden;
			&:before {
				content:"";
				position: absolute;
				width: 0%;
				height: 100%;
				background-color: #fe9263;
				top: 0%;
				left: 0%;
				transition: all 0ms ease-in-out;
			}
		}
		&.change-out {
			h1 {
				&:before {
					width: 100%;
					left: 0%;
					transition: all 500ms ease-in-out;
				}
			}
			.content_wrapper .project_details dt {
				opacity: 0;
				transition: all 500ms ease-in-out;
			}
			.content_wrapper .project_details dd {
				opacity: 0;
				transition: all 500ms ease-in-out;
			}
			.content_wrapper .main_content_wrapper p {
				opacity: 0;
				transition: all 500ms ease-in-out;

			}
		}
		&.change-in {
			h1 {
				&:before {
					left: 100%;
					width: 100%;
					transition: all 500ms ease-in-out;
				}
			}
			.content_wrapper .project_details dt {
				opacity: 1;
				transition: all 500ms ease-in-out;
				transition-delay: 500ms;
			}
			.content_wrapper .project_details dd {
				opacity: 1;
				transition: all 500ms ease-in-out;
				transition-delay: 1000ms;
			}
			.content_wrapper .main_content_wrapper p {
				opacity: 1;
				transition: all 500ms ease-in-out;
				transition-delay: 1500ms;
			}
		}
		.quick_access {
			margin: 0;
			list-style: none;
			li {
				color: #fe9263;
				float: left;
				font-size: 1.2rem;
				padding: 0px 5px;
				a {
					color: #fe9263;
					font-size: inherit;

				}
				&:first-child {
					font-weight: bold;
					padding-left: 0px;
				}
			}
		}
		.content_wrapper {
			width: 80%;
			max-width: 1000px;
  			position: relative;
  			z-index: -1;
			.project_details {
				color: #fff;
				font-family: futuracondensed_medium;
				float: left;
				margin-right: 50px;
				dt {
					line-height: 12px;
					font-size: 1.7rem;
					transition: all 0ms ease-in-out;
					opacity: 1;
				}
				dd {
					margin-bottom: 1.35rem;
					font-size: 1.6rem;
					transition: all 0ms ease-in-out;
					opacity: 1;
				}
			}
			.main_content_wrapper {
				position: absolute;
  				left: 140px;
				p {
					color: #fff;
					margin-top: -10px;
					font-size: 1.8rem;
					line-height: 2.6rem;
					transition: all 0ms ease-in-out;
					opacity: 1;
					a {
						color: #fff;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
